%p
  Copy and paste the following code into your AhGoblin addon. You can bring up the import window with the following command:

%p
  %code
    == /ahgoblin import tradeskillmaster

= text_area_tag :export, tradeskillmaster_export.data, :id => 'data_export_text'
